.pbody {
    background-image: url("images/wallpaper.jpg");
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-size: 50px;
    text-align: center;
}

.cv_body {
    background-color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nom {
    font-size: 50px;
    margin-left: 10%;
    margin-top: 2%;
}

.photo {
    position :absolute;
    margin-left: 70%;
}

.mail {
    font-size: 20px;
    margin-left: 10%;
}

.adresse {
    font-size: 15px;
    margin-left: 10%;
}

.title_adresse {
    font-size: 20px;
    margin-left: 10%;
}

.title_experiences {
    font-size: 30px;
    text-align: center;
    margin-top: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: dodgerblue;
}

.experiences {
    margin-top: 2%;
    margin-left: 10%;
}

.language {
    margin-top: 3%;
    margin-left: 10%;
    font-size: 25px;
}

.barre {
    margin top: -15%;
    margin-left: 16%;
    border-radius: 10px;
    border: 1px solid #666;
    width: 200px;
    height: 30px
}

.jauge {
    margin-top: 0%;
    margin-left: 0%;
    border-radius: 10px;
    background: dodgerblue;
    height: 100%;
    width: 30%;
}

.C {
    position :absolute;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.html {
    position :absolute;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 10%;
}

.css {
    position :absolute;
    margin-top: 5%;
    margin-left: 40%;
    margin-right: 10%;
}

.php {
    position :absolute;
    margin-top: 8%;
    margin-left: 10%;
    margin-right: 10%;
}

.java {
     position :absolute;
    margin-top: 8%;
    margin-left: 25%;
    margin-right: 10%;
}

.git {
    position :absolute;
    margin-top: 8%;
    margin-left: 40%;
    margin-right: 10%;
}
